
html {
  background: url(https://s-media-cache-ak0.pinimg.com/originals/b3/c6/ea/b3c6ea85aef0b82f2940e22981d830b5.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1.centerAndLower {
    font-size: 60px;
    text-align: center;
    padding-top: 10%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.button {
  border-radius: 50px;
  background-color: blue;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
